*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
header{
  margin-top: none;
  min-height: 100vh;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
}
.navbar{
  height: 80px !important;
}
.navbar-brand{
  color: #fff !important;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 2px;
}
.nav-link{
  color: #fff !important;
  font-size: 18px;
}
.navbar-toggler{
  box-shadow: none !important;
}
.fa-bars{
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 6px;
  border-radius: 5px;
}
.heading-content h1{
  color: #fff;
}
.heading-content h1 span{
  color: crimson;
}
.primary-btn{
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  background: crimson;
  color: #fff;
}